
[Unit]
Description=OLA Deamon 
After=network-online.target

[Service]
Type=simple
User=pi
ExecStart=/bin/bash /home/pi/ola.sh 

[Install]
WantedBy=network-online.target
